name: CI/CD Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Run tests
      run: npm test

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd ~/
          git pull origin main
          docker build -t my-js-app .
          docker stop my-js-app || true
          docker rm my-js-app || true
          docker run -d -p 80:3000 --name my-js-app my-js-app
